/** {
    margin: 0;
    padding: 0;
}*/
hr
{
    border: 3px groove royalblue;
    border-radius: 5px;
}
.immyownmanyo
{
    border: 3px solid black;
    border-radius: 5px;
}
img
{
    width: 30%;
    display: block;
    height: auto;
}
.plskiyo
{
    width: 31%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
li
{
    font-size: 15px;
    font-weight: normal;
}
ol
{
    font-size: 15px;
    font-weight: normal;
}
.noticeme
{
    font-size: 66px;
}
.navtext
{
    font-size: 69px;
}
.video-container 
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}